<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055806339969-5j320t02icr1b552h4ra6t2avirvtkr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055806339969-5j320t02icr1b552h4ra6t2avirvtkr4</string>
	<key>API_KEY</key>
	<string>AIzaSyC_G31LY_K_L12_fJzl1VgO_S1-sOfDZSY</string>
	<key>GCM_SENDER_ID</key>
	<string>1055806339969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gottman.carddecks</string>
	<key>PROJECT_ID</key>
	<string>gottman-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gottman-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055806339969:ios:7723ac4de7c93bd248c680</string>
	<key>DATABASE_URL</key>
	<string>https://gottman-app.firebaseio.com</string>
</dict>
</plist>
